<footer>
    <div class="contactUs">
        <div class="circleIcon">
            <img src="./../../../assets/img/phone-icon.png" alt="phone icon">
        </div>
        <div class="footer-container">
            <h3>CONTACTANOS</h3>
            <p>+57 318 327 3827</p>
            <p>+57 327 323 7362</p>
        </div>
    </div>
    <div class="email">
        <div class="circleIconEmail">
            <img src="./../../../assets/img/email-icon.png" alt="email icon">
        </div>
        <div class="footer-container">
            <h3>E-MAIL</h3>
            <p>ContactUs°gmail.com</p>
            <p>Office°gmail.com</p>
        </div>
    </div>
    <div class="location">
        <div class="circleIcon">
            <img src="./../../../assets/img/location-icon.jpg" alt="location icon">
        </div>
        <div class="footer-container">
            <h3>LOCACIÓN</h3>
            <p>Barrio: Porahí </p>
            <p>Calle 3 #82 - 32</p>
        </div>
    </div>
</footer>