<header>
    <div class="iconMain">
        <img src="./../../assets/img/icon-header.png" alt="buho">
        <h1>{{ titleHeader }}</h1>
    </div>
    <nav>
        <ul>
            <li><a [routerLink]="['']" routerLinkActive="router-link-active" >Inicio</a></li>
            <li><a [routerLink]="['/movies']" routerLinkActive="router-link-active" >Peliculas</a></li>
            <li><a href="">Series</a></li>
        </ul>
    </nav>
    <div class="registerSection">
        <div id="registerHeader">
            <a>Registro</a>
        </div>
        <div id="loginHeader">
            <a>Inicio Sesión</a>
        </div>
    </div>
</header>