<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
<main>
    <section class="headerMain">
        <div>
            <h2>
                ¡Te damos bienvenida!<br>
                Explora y descubre tu próxima película o serie favorita.
            </h2>
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar" required>
            <div class="searchBTN">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </section>
</main>