main {
    font-size: 2vh;
    color: white;
}
:root{
    --Typing-time: 300ms;
    --Blink-time: 500ms;
    --Typing-delay: var(--Typing-time);
    --border-radius: 5vw;
}
.formBox {
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color: rgba(36, 11, 93, 0.4);
    backdrop-filter: blur(0.2vw);
    box-shadow: 0 0 1px rgba(36, 11, 93, 0.4);
    padding: 1.5rem 2rem;
    width: max-content;
    margin: auto;
    border-radius: .51rem;
}
.welcomeMessageItem{
    animation-name: blink, typing;
    animation-duration: 500ms, 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite, 1;
    animation-direction:normal;
    animation-fill-mode: none, forwards;
    margin: auto;
    overflow: hidden;
}

#welcomeMessageTitle {
    display: block;
    white-space: nowrap;
    border-right: 1px solid;
    width: 0;
}
#welcomeMessageSubTitle{
    display: block;
    white-space: nowrap;
    border-right: 1px solid;
    width: 0;
    animation-delay: 500ms;
}
article {
    display: grid;
    justify-items: center;
}
.welcomeMessage {
    display: grid;
    gap: 10%;
    text-align: center;
}
h4 {
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
}
h5 {
    font-size: 1.1vw;
}
.formRegister {
    display: grid;
    justify-items: flex-start;
    /* border: 1px solid red; */
    width: 28vw;
}
.formGroupRegister {
    display: none;
    flex-direction: column;
    gap: 0.85vh;
    padding-bottom: 2vh;
}
.formGroupRegister label {
    font-size: 1vw;
    font-weight: bold;
    color:rgb(118, 64, 242);
}
.formGroupRegister input {
    width: 22vw;
    height: 2.2vw;
    background-color: rgba(255, 255, 255, 0.306);
    border-radius: 0.3vw;
    /* border: 0.5px solid rgb(199, 176, 251); */
    color: white;
    font-size: 1.3vw;
    border: none;
    padding: 0 0.5vw;
}
.formGroupRegister input:focus {
    border: 1.5px solid black;
    background-color: rgba(255, 255, 255, 0.469);
    outline: none;
    padding: 0 0.5vw;
}
.formGroupRegister div {
    display: flex;
    align-items: center;
    gap: 2vh;
}
.registerButton {
    display: none;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    background-color: rgb(118, 64, 242);
    border-radius: 0.4vw;
    height: 2.8vw;
    width: 8.4vw;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
    margin-top: 0.5vw;
}
.registerButton:hover {
    background-color: white;
    color: rgb(118, 64, 242);
}
.continueButton {
    height: 1.8vw;
    width: 5vw;
    border: none;
    border-radius: 0.4vw;
    background: transparent;
    color: white;
    font-size: 0.85vw;
    border: 0.1vw solid;
    cursor: pointer;
    transition: 0.2s ease;
}
.continueButton:hover {
    color: rgb(118, 64, 242);
}

/* .step1, .step2, .step3, .step4 {
    display: none;
}
.show {
    display: block !important;
} */
/* #welcomeMessageTitle, #welcomeMessageSubTitle {
    animation: fadeIn 2s;
} */

/* @keyframes colorChange {
    0% { color: black; }
    50% { color: gray; }
    100% { color: black; }
} */
/* @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1; visibility: visible;}
} */
@keyframes typing {
    from {width: 0%}
    to{
        width: 100%;
    }
}
@keyframes blink {
    50% {border-color: transparent;}
}