.moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
    color: white;
    padding: 8vw 10vw 20vw;
}
.movieCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;
    min-width: 100px;
    min-height: 200px;
}
.movieCard:hover img {
    filter: brightness(40%);
}
.movieCard img {
    height: 18vw;
    border-radius: 0.3vw;
}
.movieCardName {
    text-align: center;
}
.movieCardName p {
    display: none;
}
.movieOverview {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1vw 1vw;
    
}
.movieOverview p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    font-size: 1vw;
    
} 
.movieCard:hover .movieOverview {
    opacity: 1;
    
}
h3 {
    font-size: 1.2vw;
}